@import 'tailwindcss';

/* custom styles */
@theme {
  --font-sarina: 'Sarina', cursive;

  --color-white-100: #ececec;
  --color-white-200: #9e9e9e;
  --color-white-300: #636363;
  --color-white-400: #3f3f3f;

  --color-accent-100: #5d6c5f;
  --color-accent-200: #566458;

  --color-primary-100: #5b666f;
  --color-primary-200: #545e66;

  --color-neutral-100: #282828;
  --color-neutral-200: #252525;
  --color-neutral-300: #191919;
}

/* custom classes */
.scrollbar-stable {
  scrollbar-gutter: stable; /*keep scrollbar gutter*/
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-white-400);
}

/* handle hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-white-300);
}
